*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width:100%;
}

.button-container button{
    height: 5rem;
    grid-row: 1;
}
button{
    background-color:#6469EB;
    background-image:linear-gradient(#6469EB, rgba(0, 0, 0, 0.212));
    box-shadow:0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.342);
    box-shadow:inset 0.2rem 0.2rem 0.2rem rgba(248, 248, 248, 0.199);
    font-size: 1.2rem;
    border: 1px solid #3c3f942c;
    color: white;
    font-weight: bold;
    letter-spacing: .05rem;

}
.button-container{
    width: 95%;
    align-self: center;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-auto-columns: minmax(150px, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
}

